<!-- Validation failure messages -->
<% if @invite.errors.any? %>
  <% @invite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Invite people to <%= @activity.name %> <img src="<%= Category.find_by(:id => @activity.category_id).icon %>" height="50"></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_invite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for activity_id -->
        <input type="hidden" id="activity_id" name="activity_id" placeholder="Activity" class="form-control" value="<%= @activity.id %>">

      <!-- Label and input for invitee_id -->
      <div class="form-group">
        <label for="invitee_id" class="control-label">
          Who would you like to invite?
        </label>

        <select type="list" id="invitee_id" name="invitee_id" placeholder="Invitee" class="form-control" value="<%= @invite.invitee_id %>">
            <% @users.each do |users| %>
              <option value="<%= users.id %>"><%= users.email %></option>  
            <% end %>
        </select>
      </div>


      <!-- Label and input for attend_status -->
        <input type="hidden" id="attend_status" name="attend_status" placeholder="Attend status" class="form-control" value="No Response">

      <button class="btn btn-success">
        Send Invite!
      </button>
      or
      <a href="/invites">Cancel</a>
    </form>
  </div>
</div>
