<!-- Validation failure messages -->
<% if @invite.errors.any? %>
  <% @invite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Invite people to <%= @activity.name %> <img src="<%= Category.find_by(:id => @activity.category_id).icon %>" height="50"></h3>
</div>

<div class="row">
  <div class="col-md-6 mb-2">
    <dl class="dl-horizontal">
      <div class="col-md-6">
        <form action="/create_invite" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
          <!-- Label and input for activity_id -->
            <input type="hidden" id="activity_id" name="activity_id" placeholder="Activity" class="form-control" value="<%= @activity.id %>">
    
          <!-- Label and input for invitee_id -->
          <div class="form-group">
            <h3 for="invitee_id" class="control-label">
              New invites
            </h3>
    
            <select type="list" id="invitee_id" name="invitee_id" placeholder="Invitee" class="form-control">
                <% @users.each do |users| %>
                  <option value="<%= users.id %>"><%= users.email %></option>  
                <% end %>
            </select>
          </div>
    
    
          <!-- Label and input for attend_status -->
            <input type="hidden" id="attend_status" name="attend_status" placeholder="Attend status" class="form-control" value="No Response">
    
          <button class="btn btn-success">
            Send Invite!
          </button>
          or
          <a href="/activities/<%= @activity.id %>">Cancel</a>
        </form>
      </div>

    </dl>
  </div>
  
  <div class="col-md-6 mb-2">
    <div>
      <h3>Current invite list</h3>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-hover">
          <tr>
            <th>Invite Email</th>
            <th>Delete Invite</th>
          </tr>
    
          <% @invites.each do |invite| %>
          <tr>
            <td><%= User.find_by(:id => invite.invitee_id).email %></td>
            <td>
              <a href="/delete_invite/<%= invite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
