<div class="page-header">
  <h3>Invite #<%= @invite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Activity</dt>
      <dd><%= @invite.activity_id %></dd>

      <dt>Invitee</dt>
      <dd><%= @invite.invitee_id %></dd>

      <dt>Attend status</dt>
      <dd><%= @invite.attend_status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/invites" class="btn btn-primary">
        Back
      </a>
      <a href="/invites/<%= @invite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_invite/<%= @invite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
