<div class="page-header">
  <h3>
    <img src="<%= Category.find_by(id: Activity.find_by(:id => @invite.activity_id).category_id).icon %>" height="50"> <%= Activity.find_by(id: @invite.activity_id).name %>
  </h3>
</div>

<div class="row">
  <div class="col-md-4 mb-2">
    <img src="<%= Activity.find_by(id: @invite.activity_id).visual %>" height="200">
  </div>
  
  <div class="col-md-4 mb-2">
    <h3>
      Event details
    </h3>
    <dl class="dl-horizontal">
      <dt>Event proposer</dt>
      <dd><%= User.find_by(id: Activity.find_by(id: @invite.activity_id).proposer_id).email %></dd>

      <dt>Date</dt>
      <dd><%= Activity.find_by(id: @invite.activity_id).date %></dd>
      
      <dt>Meet time</dt>
      <dd>
        <%= 
          Activity.find_by(:id => @invite.activity_id).meet_time.strftime("%I") 
        %>:<%=
          Activity.find_by(:id => @invite.activity_id).meet_time.strftime("%M")
        %> <%=
          Activity.find_by(:id => @invite.activity_id).meet_time.strftime("%p")
        %>
      </dd>

      <dt>Cost level</dt>
      <dd>
        <% if  Activity.find_by(:id => @invite.activity_id).cost_level == "low" %>
          <img src="/Dollar signs for tilley-01.jpg" height="20">
        <% elsif  Activity.find_by(:id => @invite.activity_id).cost_level == "medium" %>
          <img src="/Dollar signs for tilley-02.jpg" height="20">
        <% elsif  Activity.find_by(:id => @invite.activity_id).cost_level == "high" %>
          <img src="/Dollar signs for tilley-03.jpg" height="20">
        <% end %>
      </dd>

      <dt>Update attend status</dt>
      <dd>              
        <form action="/invites/<%= @invite.id %>/edit" method="post">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <select type="list" name="attend_status" onchange="this.form.submit()" value="<%= @invite.attend_status %>">
            <option value="" selected disabled hidden><%= @invite.attend_status %></option>
            <option value="No Response">No Response</option>
            <option value="Going">Going</option>
            <option value="Can't go">Can't go</option>
            <option value="Might make it">Might make it</option>
          </select>
        </form>
      </dd>

    </dl>
  </div>
  
  <div class="col-md-4 mb-2">
    <h3>
      Invite list
    </h3>
    <table class="table table-striped table-hover">
      <tr>
        <th>
          Invite list
        </th>
        <th>
          Attend status
        </th>
      </tr>
      
      <% @invites.each do |invite| %>
      <tr>
        <td><%= User.find_by(id: invite.invitee_id).email %></td>
        <td><%= invite.attend_status %></td>
      </tr>
      
      <% end %>
      </table>

    
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 mb-2">
    <div class="btn-group btn-group-justified">
      <a href="/invites" class="btn btn-primary">
        Back to all invites
      </a>
      <a href="/delete_invite/<%= @invite.id %>" class="btn btn-danger" rel="nofollow">
        Delete this invite
      </a>
    </div>
  </div>
</div>