<!-- Validation failure messages -->
<% if @activity.errors.any? %>
  <% @activity.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit your event - <%= @activity.name %> <img src="<%= Category.find_by(:id => @activity.category_id).icon %>" height="50"></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_activity/<%= @activity.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @activity.name %>">
      </div>
      
      <!-- Label and input for category_id -->
        <input type="hidden" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @activity.category_id %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @activity.address %>">
      </div>

      <!--Calendar to pick date-->
      <div class="form-group">
        <label for="datepicker" class="control-label">
          Date
        </label>
        
        <form>
          <input id="datepicker" name="date" value="<%= @activity.date %>"/>
        </form>
      </div>

      <!-- Label and input for meet_time -->
      <div class="form-group">
        <label for="meet_time" class="control-label">
          Meet time
        </label>
        
        <input id="meet_time" type="time" name="meet_time" required>
      
      </div>

      <!-- Label and input for proposer_id -->
        <input type="hidden" id="proposer_id" name="proposer_id" placeholder="Proposer" class="form-control" value="<%= @activity.proposer_id %>">

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="duration" class="control-label">
          Duration (hours)
        </label>

        <select type="list" id="duration" name="duration" value="<%= @activity.duration %>" width="50">
            <option value="" selected disabled hidden><%= @activity.duration %></option>
            <% (1..6).each do |i| %>
              <option value="<%= i %>"><%= i %></option>  
            <% end %>
        </select>
      </div>

      <!-- Label and input for visual -->
      <div class="form-group">
        <label for="visual" class="control-label">
          Visual
        </label>

        <input type="text" id="visual" name="visual" placeholder="Visual" class="form-control" value="<%= @activity.visual %>">
      </div>

      <!-- Label and input for cost_level -->
      <div class="form-group">
        <label for="cost_level" class="control-label">
          Cost level
        </label>
        
        <label class="btn btn-secondary active">
          <input type="radio" name="cost_level" id="cost_level" value="low" autocomplete="off"  checked> <img src="/Dollar signs for tilley-01.jpg" height="20">
        </label>
        
        <label class="btn btn-secondary active">
          <input type="radio" name="cost_level" id="cost_level" value="medium" autocomplete="off"  checked> <img src="/Dollar signs for tilley-02.jpg" height="20">
        </label>
        
        <label class="btn btn-secondary active">
          <input type="radio" name="cost_level" id="cost_level" value="high" autocomplete="off"  checked> <img src="/Dollar signs for tilley-03.jpg" height="20">
        </label>
        
      </div>
        

      <button class="btn btn-success">
        Update Activity
      </button>
      or
      <a href="/activities/<%= @activity.id %>">Cancel</a>
    </form>
  </div>
</div>
