<div class="page-header">
  <h1>
    Activities
    <a href="/activities/new" class="btn btn-lg btn-success">New Activity</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Address</th>
        <th>Date</th>
        <th>Meet time</th>
        <th>Duration (hours)</th>
        <th>Cost level</th>
        <th>Visual</th>
        <th>Actions</th>
      </tr>

      <% @activities.each do |activity| %>
      <tr>
        <td><img src="<%= Category.find_by(:id => activity.category_id).icon %>" height="50"></td>
        <td><%= activity.name %></td>
        <td><%= activity.address %></td>
        <td><%= activity.date %></td>
        <td><%= activity.meet_time.strftime("%I") %>:<%= activity.meet_time.strftime("%M") %> <%= activity.meet_time.strftime("%p") %></td>
        <td><%= activity.duration %></td>
        <td>
          <% if activity.cost_level == "low" %>
              <img src="/Dollar signs for tilley-01.jpg" height="20">
          <% elsif activity.cost_level == "medium" %>
              <img src="/Dollar signs for tilley-02.jpg" height="20">
          <% elsif activity.cost_level == "high" %>
              <img src="/Dollar signs for tilley-03.jpg" height="20">
          <% end %>
          
        </td>
        <td><img src="<%= activity.visual %>" height=""></td>
        <td>
          <a href="/activities/<%= activity.id %>" class="btn btn-primary">Activity detail</a>
          <a href="/invites/new/<%= activity.id %>" class="btn btn-success">Invite friends</a>
          <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
