<!-- Validation failure messages -->
<% if @activity.errors.any? %>
  <% @activity.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Activity</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_activity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          How would you categorize your event?
        </label>
        
      <!--Input a loop that dynamically populates all icon buttons-->

      <div>
          <% @categories.each do |category| %>
            <label class="btn btn-secondary active">
              <input type="radio" name="category_id" value="<%= category.id %>" autocomplete="off" checked>
                <%= category.name %>
                <img src="<%= category.icon %>" height="50">
            </label>
          <% end %>
      </div>


      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          What should we call your event?
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @activity.name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          What is your event's address?
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @activity.address %>">
      </div>
      
      <!--Calendar to pick date-->
      <div class="form-group">
        <label for="datepicker" class="control-label">
          What date is the event?
        </label>
        
        <form>
          <input id="datepicker" value="<%= @activity.date %>"/>
        </form>

      <!-- Label and input for meet_time -->
      <div class="form-group">
        <label for="meet_time" class="control-label">
          What time will your event start?
        </label>
        
        <input id="meet_time" type="time" name="appt-time" value="<%= @activity.meet_time %>">
        
        <!--<input type="text" id="meet_time" name="meet_time" placeholder="Meet time" class="form-control" >-->
      
      </div>

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="duration" class="control-label">
          How many hours do you expect your event to be?
        </label>
            <select type="list" id="duration" name="duration" value="<%= @activity.duration %>" width="50">
            <% (1..6).each do |i| %>
              <option value="<%= i %>"><%= i %></option>  
            <% end %>
        </select>
        
      </div>

      <!-- Label and input for cost_level -->
      <div class="form-group">
        <label for="cost_level" class="control-label">
          How expensive will this event be?
        </label>
        
        
          <label class="btn btn-secondary active">
            <input type="radio" name="cost_level" id="cost_level" value="low" autocomplete="off"  checked> <img src="/Dollar signs for tilley-01.jpg" height="20">
          </label>
          
          <label class="btn btn-secondary active">
            <input type="radio" name="cost_level" id="cost_level" value="medium" autocomplete="off"  checked> <img src="/Dollar signs for tilley-02.jpg" height="20">
          </label>
          
          <label class="btn btn-secondary active">
            <input type="radio" name="cost_level" id="cost_level" value="high" autocomplete="off"  checked> <img src="/Dollar signs for tilley-03.jpg" height="20">
          </label>
      
      <!-- Label and input for proposer_id -->
      <div class="form-group">
        <label for="proposer_id" class="control-label">
          Proposer
        </label>

        <input type="hidden" id="proposer_id" name="proposer_id" placeholder="Proposer" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for visual -->
      <div class="form-group">
        <label for="visual" class="control-label">
          Visual (Optional)
        </label>

        <input type="text" id="visual" name="visual" placeholder="Visual" class="form-control" value="<%= @activity.visual %>">
      </div>

      <button class="btn btn-success">
        Create Activity
      </button>
      or
      <a href="/activities">Cancel</a>
    </form>
  </div>
</div>
